body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4358468a;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
}

a{
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}

table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    font-size: 30px;
    background-color: rgba(28, 141, 94, 0.37);
}
