img{width:100%}
.wood{color: green;}
.div1{background-image: url('../images/anamaallais-1024x640.jpg');height: 300px;background-repeat: no-repeat;background-size: cover;}
.pul{color: white;text-align: center;}
.pul1{color: white;text-align: center;}
.wide{color: brown;padding-top: 20px;}
.wide1{color: green;}
.side{padding-top: 20px;}
.our{color: white;}
.read{text-align: center;color: green;padding-top: 30px;}
.but{color: green;}
.read1{text-align: center;}
.read2{color: green; text-align: center;}
.a{text-align: center;}
.b{padding-top: 40px;}
.din{color: white;}
.div2{background-image: url('../images/325660834.jpg');background-repeat: no-repeat;background-size: cover;}
.div3{background-image: url('../images/anamaallais-1024x640.jpg');background-size: cover;}
.div7{background-color: rgba(184, 143, 68,0.5);}
.div9{background-color: rgba(0, 128, 0, 0.747);}